QUOTES_API_URL=http://quotes.lkpg.cendio.se/api/quotes/random
DISPLAY_SECONDS=20
BACKGROUND_IMAGES=bg_01.jpg,bg_02.jpg
UNSPLASH_ACCESS_KEY=
BACKGROUND_INTERVAL_SECONDS=60
BIRTHDAY_WINDOW_DAYS=5
ADMIN_PASSWORD=
SECRET_KEY=
